<nav class="sidebar fixed">
    <div class="logo">
        <i class="devicon-github-original"></i>
        <h2>GitMaster</h2>
    </div>
    <div class="menu">
        <a href="index.html" data-page="index">
            <span class="material-icons">dashboard</span>
            <span>Dashboard</span>
        </a>
        <a href="workshops.html" data-page="workshops">
            <span class="material-icons">code</span>
            <span>Workshops</span>
        </a>
        <a href="repositories.html" data-page="repositories">
            <span class="material-icons">hub</span>
            <span>Repositories</span>
        </a>
        <a href="contributors.html" data-page="contributors">
            <span class="material-icons">people</span>
            <span>Contributors</span>
        </a>
        <a href="resources.html" data-page="resources">
            <span class="material-icons">school</span>
            <span>Resources</span>
        </a>
        <a href="settings.html" data-page="settings">
            <span class="material-icons">settings</span>
            <span>Settings</span>
        </a>
    </div>
</nav>
